src/HostETL/Service References/ServiceReferenceETL/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GridProteinFolding.Services.DistributedService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GridProteinFolding.WCF.ServiceDistributed" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GridProteinFolding.Middle.Helpers.ConfigurationHelpers" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GridProteinFolding.Middle.Helpers.EnumsHelpers" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GridProteinFolding.Services.DistributedService" minOccurs="0" name="requestorInf" nillable="true" type="q1:RequestorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GridProteinFolding.WCF.ServiceDistributed" minOccurs="0" name="GetOneProcessResult" nillable="true" type="q2:Service.ParamWcf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneProcessGui">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GridProteinFolding.Services.DistributedService" minOccurs="0" name="requestorInfo" nillable="true" type="q4:RequestorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneProcessGuiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GridProteinFolding.WCF.ServiceDistributed" minOccurs="0" name="GetOneProcessGuiResult" nillable="true" type="q5:Service.ParamWcf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneProcessGuiForETL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GridProteinFolding.Services.DistributedService" minOccurs="0" name="requestorInfo" nillable="true" type="q7:RequestorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneProcessGuiForETLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GridProteinFolding.WCF.ServiceDistributed" minOccurs="0" name="GetOneProcessGuiForETLResult" nillable="true" type="q8:Service.ParamWcf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOneProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GridProteinFolding.Middle.Helpers.ConfigurationHelpers" minOccurs="0" name="param" nillable="true" type="q9:Param" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GridProteinFolding.Middle.Helpers.EnumsHelpers" minOccurs="0" name="state" type="q10:BasicEnums.State" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GridProteinFolding.Services.DistributedService" minOccurs="0" name="requestorInfo" nillable="true" type="q11:RequestorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOneProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOneProcessResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOneProcessByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q12:guid" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GridProteinFolding.Middle.Helpers.EnumsHelpers" minOccurs="0" name="state" type="q13:BasicEnums.State" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GridProteinFolding.Services.DistributedService" minOccurs="0" name="requestorInfo" nillable="true" type="q14:RequestorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOneProcessByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOneProcessByGuidResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuidsToApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuidsToApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGuidsToApplicationsResult" nillable="true" type="q16:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBlob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q17:guid" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBlobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetBlobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>