src/App/UI/WebSite/App_WebReferences/ServiceDocument/DocumentManagment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentManagment" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDocumentManagment_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/GridProteinFolding/ServiceDistributed/DocumentManagmentMex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/GridProteinFolding/ServiceDistributed/DocumentManagmentMex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentManagment_DocumentEcho_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentEcho" />
  </wsdl:message>
  <wsdl:message name="IDocumentManagment_DocumentEcho_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentEchoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentManagment_UploadDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentManagment_UploadDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentManagment_ExtractDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtractDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentManagment_ExtractDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtractDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentManagment">
    <wsdl:operation name="DocumentEcho">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentManagment/DocumentEcho" message="tns:IDocumentManagment_DocumentEcho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentManagment/DocumentEchoResponse" message="tns:IDocumentManagment_DocumentEcho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentManagment/UploadDocument" message="tns:IDocumentManagment_UploadDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentManagment/UploadDocumentResponse" message="tns:IDocumentManagment_UploadDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExtractDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentManagment/ExtractDocument" message="tns:IDocumentManagment_ExtractDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentManagment/ExtractDocumentResponse" message="tns:IDocumentManagment_ExtractDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDocumentManagment" type="tns:IDocumentManagment">
    <wsp:PolicyReference URI="#NetTcpBinding_IDocumentManagment_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DocumentEcho">
      <soap12:operation soapAction="http://tempuri.org/IDocumentManagment/DocumentEcho" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDocument">
      <soap12:operation soapAction="http://tempuri.org/IDocumentManagment/UploadDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractDocument">
      <soap12:operation soapAction="http://tempuri.org/IDocumentManagment/ExtractDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentManagment">
    <wsdl:port name="NetTcpBinding_IDocumentManagment" binding="tns:NetTcpBinding_IDocumentManagment">
      <soap12:address location="net.tcp://localhost:1111/GridProteinFolding/ServiceDistributed/DocumentManagment/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1111/GridProteinFolding/ServiceDistributed/DocumentManagment/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>