src/App/UI/ProteinFoldingService/Service References/ServiceReference/GridProteinFolding.Services.DistributedService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GridProteinFolding.Services.DistributedService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GridProteinFolding.Services.DistributedService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="macAddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestorInfo" nillable="true" type="tns:RequestorInfo" />
</xs:schema>